:host{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}
.login {
  width: 230px;
  background-color: rgb(255, 204, 238);
  padding: 1.3em;
  border: none;
  border-radius: 14px ;
}
div{
  margin: 0.5em 0;
  input[type=text],input[type=password] {
    width: 100%;
    box-sizing: border-box;
    padding: 10px ;
    border-radius: 15px;
    border: 1px;
  }
  button{
    width: 100%;
    background-color: rgb(215, 91, 172);
    color: aliceblue;
    padding: 5px;
    border: none;
    border-radius: 15px;
  }
  button:hover {
    background-color: rgb(244, 158, 221);
  }
}