
.sidebar{
    background-color: rgb(39, 111, 220);
    position: fixed;
    right: 0 ;
    top: 0;
    width: 200px ;
    height: 100vh ;
    box-sizing: border-box;
    padding: 0.2em ;
    a{
        cursor: pointer;
        color: aliceblue;
        text-decoration: none;
        display: block;
        padding: 0.3em 0.5em ;
        border-radius: 0.6em ;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }
    a:hover{
        background-color: rgb(128, 183, 251);
        transition: 0.4s;
    }
}
.content{
    margin-right: 200px;
    padding: 0.4em ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}