@if (action=='list') {

<div>
    <button (click)="add()">افزودن </button>
</div>
<table>
    <thead>
        <tr>
            <th> شناسه </th>
            <th>نام </th>
            <th> نام خانوادگی </th>
            <th>کد ملی </th>
            <th>شماره تلفن </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       @for (members of data; track $index)   {
       <tr>
            <td>{{members.id}}</td>
            <td>{{members.fristname}}</td>
             <td>{{members.lastname}}</td>
              <td>{{members.nationalcode}}</td>  
               <td>{{members.phonenumber}}</td>
                <td>
                    <button>حذف </button>
                     <button (click)="edit(members)">ویرایش </button>
                </td>
        </tr>
       }
    </tbody>
</table>
}

@else {
    <form (ngSubmit)="save()">
           <div>
        <input [class.makhfi]="action=='edit'" [disabled]="action=='edit'" [(ngModel)]="item.id" id="id" name="id" type="number" placeholder="شناسه ">
    </div>
        <div>
        <input [(ngModel)]="item.fristname" id="fristname" name="fristname" type="text" placeholder="نام  ">
    </div>
        <div>
        <input [(ngModel)]="item.lastname" id="lastname" name="lastname" type="text" placeholder="نام خانوادگی ">
    </div>
        <div>
        <input [(ngModel)]="item.nationalcode" id="nationalcode" name="nationalcode" type="number" placeholder="کد ملی ">
    </div>
        <div>
        <input [(ngModel)]="item.phonenumber" id="phonenumber" name="phonenumber" type="number " placeholder="شماره تماس ">
    </div>
    <div>
        <button type="submit"> تایید</button>
        <button (click)="cancel()" type="button">انصراف </button>
    </div>
    </form>
}
