
.body{
    margin: 0 ;
}

@font-face {
    font-family: Persian;
    src: url('/fonts/persian.woff2');
}
*{
    font-family: Persian;
}
.alert{
    background-color: rgb(255, 186, 197);
    color: rgb(0, 0, 0);
    border: none;
    padding: 0.7em;
    border-radius: 15px;
    text-align: center;
    margin: 0.4em;
}