@if (myaction=='list') {

<div>
    <button (click)="onAdd.emit()">افزودن </button>
</div>
<table>
    <thead>
      <tr>
        @for (col of columns; track $index) {

            <th> {{col.title}} </th>
        }
            <th></th>
        </tr>
    </thead>
    <tbody>
       @for (members of data; track $index)   {
       <tr>
        @for (col of columns; track $index) {
            <td>{{members[col.field]}}</td>
        }
                <td>
                   <button (click)="onRemove.emit(members)">حذف </button>
                   <button (click)="onEdit.emit(members)">ویرایش </button>
                </td>
        </tr>
    }
    </tbody>
</table>
}

@else {
    @if (myaction=='remove') {
        <div class="alert">
            آیا از حذف مشخصات کاربر اطمینان دارید؟
        </div>
    }
   <form>
     <ng-content></ng-content>
   <div>
        <button (click)="onSave.emit()" type="button"> تایید</button>
        <button (click)="onCancel.emit()" type="button">انصراف </button>
    </div>
    </form>
}
