
table{
    width: 100%;
    border-collapse: collapse;
    tr{
        border-bottom: 1px solid gray;
    }
    tr:nth-of-type(2n+1){
        background-color: rgb(233, 220, 220);
    }
    td,th{
        text-align: right;
        padding: 0.3em;
    }
    th{
        background-color: gray;
        padding: 0.3em;
    }
    td:last-of-type{
        text-align: left;
    }
}
button{
    background-color: rgb(200, 81, 121);
    color: aliceblue;
    padding: 0.2em 0.4em ;
    border: none;
    border-radius: 0.3em;
    margin: 0.2em ;
}