
table{
    width: 100%;
    border-collapse: collapse;
    tr{
        border-bottom: 1px solid rgb(209, 209, 209);
    }
    tr:nth-of-type(2n+1){
        background-color: rgb(224, 241, 255);
    }
    td,th{
        text-align: right;
        padding: 0.3em;
    }
    th{
        background-color: rgb(6, 32, 121);
        padding: 0.3em;
       color: aliceblue;
    }
    td:last-of-type{
        text-align: left;
    }
}
button{
    background-color: rgb(51, 69, 171);
    color: aliceblue;
    padding: 0.2em 0.4em ;
    border: none;
    border-radius: 0.3em;
    margin: 0.2em ;
}
form {
    width: 50%;
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background:rgb(190, 220, 255);
    border-radius: 15px;
}
form > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 7px;
}
form input {
    padding: 10px 10px;
    font-size: 14px;
    border: none;
    border-radius: 15px;
}
form input:focus {
    outline: none;
    border-color: rgb(194, 194, 194);
}
form > div:last-child{
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
}
form button {
    flex: 1;
    padding: 10px 0 ;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
form button[type="submit"]{
    background-color:rgb(73, 99, 215);
    color:rgb(230, 230, 230);
}
form button[type="submit"]:hover{
    background-color:rgb(131, 169, 229) ;
}
form button[type="button"]{
    background-color: rgb(73, 99, 215);
    color:rgb(255, 255, 255);
}
form button[type="button"]:hover{
    background-color: rgb(131, 169, 229);
}
.makhfi{
    background-color: rgb(214, 214, 214);
}